<!DOCTYPE html>
<html>
<head>
    <title>Add Users</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
</head>
<body>
<div id="app">
    <div @keyup.enter="addUserOnEnter" style="display: inline-block;" >
      First name: <input type="text" v-model="firstName">
      Last name: <input type="text" v-model="lastName">
    </div>
    <button @click="addUserOnClick">Add user</button>

    <table>
        <caption>Users</caption>
        <thead>
        <tr>
            <th>Nr.</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user, i in users" :key="i">
            <td>{{i+1}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
          title: 'Some title',
          firstName: 'zxc',
          lastName: '',
          users: [{firstName: 'John', lastName: 'Doe'}]
        },
        methods: {
          addUserOnClick: function () {
            this.addUser()
          },
          addUserOnEnter: function () {
            this.addUser()
          },
          addUser: function () {
            if (this.firstName && this.lastName) {
              this.users.push({
                'firstName': this.firstName,
                'lastName': this.lastName
              })
              this.firstName = ''
              this.lastName = ''
            }
          }
        }
    });
</script>
</body>
</html>

